<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_type %>
    <%= select_tag "Product Types", options_from_collection_for_select(ProductType.all, "id", "name") %>
  </div>

  <div id = "category_selection" class="field">
    
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, :step => "0.01" %>
  </div>

  <%= recaptcha_tags %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
